#avatarCreationArea {
    display: none;
    padding-left: 20px;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 1px;
    height: 250px;
    width: 500px;
}
#avatarDispalyArea {
    display: block;
}
#createBtn {
    display: block;
}

#nameError, #ageError, #genderError, #skinColorError, #swordError {
    display: none;
}
button {
    display: inline-block;
}
#avatar {
    display: none;
}